*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    background-color: #8fb3d6;
}
/* NAV BAR START */
#logo{
    width: 155px;
    height: 50px;
    border-radius: 50%;
}
header {
    display: flex;
    justify-content: space-evenly;
    background: #34568b;
    border-bottom-left-radius: 25%;
    /* border-bottom-right-radius: 25%; */
    border-bottom: 2px solid #0075ff;
    box-shadow: 5px 5px 25px  #0f397e;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
}
.sb{
    margin-left: 20px;
    margin-top: 15px;  
}
#searchbar{
    outline: none;
    border: 1px solid #34568b;
    width: 250px;
    height: 25px;
    font-size: 15px;
}
.search{
    color: blue;
    font-size: 15px;
    height: 25px;
}
.search:hover{
    cursor: pointer;
}
nav ul{
    display:flex;
    margin-top: 15px;
}
nav ul li{
    list-style: none;
}
nav ul  a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    color: white;
    transition: ease-in-out all 0.5s;
}
nav ul a:hover{
    color: black;
    text-shadow: 1px 1px 3px rgb(35, 35, 66);
}
/* NAV BAR END */

/* Main Product START */
main .p1{
    display: flex;
    justify-content:flex-start;
    width: 1000px;
    border: 2px solid #0075ff;
    border-radius: 2%;
    box-shadow: 10px 10px 25px #282e61a8;
    margin: 75px auto auto auto;
}
.p1img{
    width: 175px;
    height: 200px;
    border-radius: 25%;
    margin: 5px auto auto 5px; 
}
.p1T h3{
    margin: 10px auto auto 10px;
    text-align: center;
    font-size: 30px;
}
.p1T p{
    margin: 10px auto auto 10px;    
    text-align: left;
    font-size: 20px;
}
#buP1{
    outline: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    background-color: #0f397e;
    margin: 5px 10px 5px 80%;
}
#buP1:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px blue;
}
/* Main Product END */
/* VIP TRAIN CARD START */
.imgtrain{
    display: flex;
    width: 175px;
    height: 200px;
    border-radius: 15%;
    margin: auto auto 0px auto;
}
.train{
    display: block;
    width: 185px;
    border: 2px solid black;
    border-radius: 10%;
    box-shadow: 10px 10px 25px #282e61a8;
    margin: 75px 50% auto 50%;
}
.train h3{
    font-style: italic;
    font-size: 25px;
    padding-left: 5px;
}
.train p{
    font-size: 20px;
    padding-left: 2px;

}
.modbup1{
    background-color: #0f397e;
    border-radius: 5px;
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
}
.modbup1:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px blue;
}
/* VIP TRAIN CARD END */

/* Different Products START */
.trainc{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
/* Different Products END */

/* FOOTER START */
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    border-top: 2px solid #0075ff;
    background-color: #34568b;
    border-top-right-radius: 25%;
    box-shadow: 5px 5px 25px  #0f397e;
}
form{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}
form label{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
}
form input{
    outline: none;
    border: 1px solid navy;
    border-radius: 5%;
    font-size: 20px;
}
.bu{
    border-radius: 20%;
    border: 2px solid #34568b;
    margin-bottom: 5px;
}
footer p{
    font-size: 15px;
    font-weight: bold;
    color: black;
}
footer div ul{
    list-style:inside;
    margin-right: 75px;
}
footer div a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.dday{
    color: black;
    font-size: 20px;
    font-style: italic;
}
.top{
    transition: all 0.5s;
}
.top:hover{
    color: white;
    text-shadow: 1px 1px 3px white;
}
/* FOOTER END */

/* SIGN UP PAGE START */
.SU{
    background-image: url(../Images/bgeco1.jpg);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.MainSU{
    display: flex;
    justify-content: flex-start;
    flex-wrap:nowrap;
    margin-top: 10%;
    margin-left: 10%;
}
.MainSU form label{
    font-size: 15px; 
}
.MainSU form input{
    margin-bottom: 10px;
}
#sg{
    font-size: 25px;
    margin-bottom: 15px;
    margin-left: 15px;
    outline: none;
    background-color: #c9cade;
}
.buSU ,#bu,#bu1{
    width: 100%;
    height: 12%;
    outline: none;
    border: 1px solid transparent ;
    background-color: #34568b;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.date{
    display: block;
    width: 100%;
}
#ts{
    width: 10%;
    margin: auto;
}
#texp{
    width: 90%;
}
.excep{
    margin-top: 2%;
}
.buSI{
    margin-top: 20px;
    height: 50px;
}
.buSI:hover{
    cursor: pointer;
    color: black;
}
/* SIGN UP PAGE END */

/* PRODUCT PAGE Start */
.P{
    background-image: url(../Images/pro.jpg);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.pr{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}
#pro{
    font-size: 35px;
    padding: 25px;
}
#proBu{
    color: white;
    background-color: #0f397e;
    font-size: 20px;
    border-radius: 5px;
    height: 50px;
    width: 100px;
}
#proBu:hover{
    color: black;
    cursor: pointer;
}
.proi{
    font-size: 25px;
}
.fopro{
    position: fixed;
    bottom: 0%;
    right: 0%;
    left: 0%;
}
.proInfo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#prona{
    outline: none;
    background-color: lightblue;
    border-radius: 5px;
    border: 1px solid #0075ff;
}
.prform{
    margin-top: 10px;
    margin-bottom: 10px;
}
.proInfo label{
    color: white;
}
#prodes{
    width: 250px;
    height: 200px;
    margin-top: 5px;
    outline: none;
    border: 1px solid #0075ff;
    border-radius: 5px;
    background-color: lightblue;
    font-size: 15px;
}
#propic{
    margin-top: 5px;
    outline: none;
    border-radius: 10px;
    border: 2px solid #0075ff;
    width: 250px;
    background-color: #8fb3d6;
}
.crpro{
    position: relative;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: 50px;
    margin-top: 10px;
    margin-left: 50px;
    transition: all .5s;
}
.crpro1{
    position: relative;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: 50px;
    margin-top: 10px;
    margin-left: 50px;
    transition: all .5s;
}
.crpro1:hover{
    color: darkred;
    box-shadow: 5px 5px 15px  red;
}
.crpro:hover{
    color: black;
    box-shadow: 5px 5px 15px  royalblue;
}
.proInfo{
    display: none;
}
.Pbody{
    display: none;
    opacity: 0.5;
}
.box{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #8fb3d6;
    background-image: url(../Images/SI.jpg);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.Active{
    display: flex !important;
    justify-content: flex-start;
    padding: 25px;
}
.exp{
    display: flex;
    margin-top: 10px;
    margin-left: -50px;
    justify-content: space-between;
}

/* PRODUCT PAGE END */


/* ABOUT US PAGE START */
.name{
    color: blue;
    font-weight: bold;
}
.name2{
    display: block;
    font-size: 45px;
    font-style: italic;
    text-align: center;
}
.Abimg{
    width: 250px;
    border-radius: 10px;
}
/* ABOUT US PAGE END */

/* Services PAGE START */
.Serimg, .Serimg1{
    z-index: 0;
    padding-top:20px;
    padding-left: 10px;
    font-size: 150px;
    transition: all 2s;
}
.Serimg:hover{
    color: white;
    transform: rotateY(180deg);
}
.Serimg1:hover{
    color: white;
    transform: rotateZ(180deg);
}
.LS{
    margin-bottom: -155px;
}
/* Services PAGE END */

/* Payment PART START */
.bigdiv{
    text-align: center;
    background-color: rgb(79, 132, 230,0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
}
#bu,#bu1{
    width: 20%;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}
#bu1{
    margin-bottom: 10px;
}
#bu:hover,#bu1:hover{
    box-shadow: 3px 3px 5px blue;
}
.smdiv{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 50px;
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
}
.toast{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
    display: none;
}
.dia{
    width: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
}
.inp{
    box-shadow: 5px 5px 10px gainsboro;
    border: 2px solid gainsboro;
    border-radius: 5px;
    width: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    border:1px solid lightblue;
    outline: none;
    height: 25px;
    vertical-align:middle;
}
.non{
    display: block !important;
}
/* Payment PART END */

/* RESPONSIVENESS */
@media screen and (max-width:1400px){

    .train{
        margin-right: auto;
        margin-left: auto;
    }
    footer{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:1080px) {
    header{
        flex-wrap: wrap;
    }
    nav ul  a{
        margin-left: 10px;
    }
    main .p1{
        margin-right: 25px;
        margin-left: 25px;
        width: auto;
    }
    #bu,#bu1{
        width: auto;
    }
}
@media screen and (max-width:908px){
    header{
        flex-wrap: wrap;
    }
    nav ul{
        margin-bottom: 15px;
    }
    .MainSU form{
        margin-top: 100px;
    }
    .pr{
        margin-top: 100px;
    }
    .listf ul{ 
        list-style: none;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        padding: 0%;
        margin-bottom: 5px;
    }
}
@media screen and (max-width:841px){
    main .p1{
        margin-top: 150px;
    }
    #buP1{
        margin: 5px auto 5px 100px;
        width: 100px;
    }
}
@media screen and (max-width:746px){
    nav ul  a{
        margin-left: 10px;
        justify-content: flex-start;
    }
    .train{
        margin-right: auto;
        margin-left: auto;
    }
    .Active{
        display: flex !important;
        justify-content: center;
        padding: 50px;
    }
    main .p1{
        display: block;
    }
    #imgpos{
        display: flex;
        width: 100%;
    }
    .p1img{
        margin: 5px  auto ;
    }
    main .Ab{
        margin-bottom: 200px; 
    }
}


@media screen and (max-width:500px){
    header{
    flex-wrap: wrap;
    }
    nav ul  a{
        margin-left: 5px;
        border: 1px solid  lightblue;
        border-radius: 10px;
        padding: 1px;
    }
    nav ul{
        margin-right: 5px;
        padding: 5px;
    }
    .train{
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width:478px) {
    nav ul{
        margin-bottom: 15px;
    }
    .sb{
        margin-bottom: 5px;
    }
    .pr:first-child{
        margin-top: 155px;
    }
    .pr #pro{
        font-size: 25px;
    }
    main .p1{
        margin-top: 200px;
    }
    .MainSU{
        margin-top: 100px;
    }
}

@media screen and (max-width:414px){
    nav ul{
        margin-bottom: 15px;
    }
    nav ul  a{
        justify-content: center;
    }
    .train{
        margin-right: auto;
        margin-left: auto;
    }
    .sb{
        margin-top: -5px;
        margin-bottom: 5px;
    }
    #flogo{
        margin-top: 15px;
    }
    #fflogo{
        border-top-right-radius: 25%;
    }
}